<script>
    setTimeout(function () {
        var params = {
            response_type: 'code',
            client_id: '{{ clientId }}',
            scope: 'playlist-read-private',
            redirect_uri: '{{ redirectUrl }}',
            // state: state,
        };
        var queryString = new URLSearchParams(params).toString();
        window.location.href = 'https://accounts.spotify.com/authorize?' + queryString
    }, 1000)
</script>

<p>Redirecting to spotify authorization..</p>